.App {
  font-family: sans-serif;
  text-align: center;
}


.section {
  height: 100vh;
  border-bottom: 1px solid blue;
  padding-top: 30px;
}


.button {
  cursor: pointer;
  background: transparent;
  color: #0000ff;
  border: none;
  border-bottom: 2px solid #0000ff;
  
  font-weight: bold;
  font-size: 1rem;
  
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}