.hotel_selection {
  height         : 100%;
  width          : var(--partition-l);
  
  display        : flex;
  gap            : var(--unit-length);
  
  margin-left    : auto;
  margin-right   : auto;
  padding-top    : var(--unit-length);
  padding-bottom : var(--unit-length);
  
  /*transition : all var(--duration-slow) cubic-bezier(0.35, 0, 0.6, 1);*/
}

.hotel_map {
  width    : 100%;
  height   : 100%;
  
  position : relative;
  
  /*background : cyan;*/
}

.hotel_list {
  width          : 450px;
  height         : 100%;
  
  display        : flex;
  flex-shrink    : 0;
  flex-direction : column;
}

.list_bar {
  width      : 100%;
  min-height : var(--unit-length);
  
  display    : flex;
  
  background : var(--gray-light);
}

.list_body {
  width      : 100%;
  height     : 100%;
  
  position   : relative;
  
  overflow-y : auto;
}
