.container {
  text-align : center;
  width      : var(--partition-xs);
  height     : fit-content;
  
  margin     : var(--margin-component) auto auto auto;
  
  position   : absolute;
  top        : 0;
  bottom     : 0;
  left       : 0;
  right      : 0;
}

.container > fieldset:last-child {
  margin-top : var(--gap-component);
}

.title {
  font-size     : var(--size-title);
  font-weight   : var(--font-semi-bold);
  
  margin-bottom : var(--gap-title);
}

.error {
  color         : var(--red-dark);
  
  font-weight   : var(--font-regular);
  font-size     : var(--size-caption);
  
  margin-top    : var(--gap-caption);
  margin-bottom : var(--gap-caption);
  
  overflow      : hidden;
  text-align    : start;
}